<ul class="nav flex-column">
  <li class="nav-item"><a class="nav-link" href="#">View</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Sheet</a></li>
  <li class="nav-item"><a class="nav-link" href="#"></a></li>
  <li class="nav-item"><a class="nav-link" href="#">Overview</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Abilities</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Levels</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Combat</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Gear</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Feats</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Conditions</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Skills</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Spells</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Background</a></li>
</ul>
