<!-- Characters Section -->
<div class="backdrop full"> </div>

<div class="list-items">
  <div class="selectable-item">
    <a routerLink="/campaign/0/summary">
      <img src="assets/images/campaign.jpg" width="300">
      <div class="text-overlay"><i class="fa fa-plus fa-lg3" aria-hidden="true"></i> <br />New Campaign</div>
    </a>
  </div>

  <div class="selectable-item">
    <a href="#"><img src="assets/images/campaign.jpg" width="300"></a>
    <div class="text-overlay">New Campaign</div>
  </div>
</div>