<nav class="top-nav navbar navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto pull-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/campaign/0/summary">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/campaign/0/pcs">Player Characters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/campaign/0/npcs">NPCs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/campaign/0/rules">Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/campaign/0/sessions">Sessions</a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Close Campaign</a>
      </li>
    </ul>
  </div>
</nav>