<div class="backdrop full"> </div>

<div class="area col-sm-4 col-4">
  <h5>Personal</h5>
  <div class="form-group row">
    <label for="character-name" class="col-2 col-form-label">Name</label>
    <div class="col-10">
      <input name="name" class="form-control" type="text" [(ngModel)]="character.name">
    </div>
  </div>
  <div class="form-group row">
    <label for="character-race" class="col-2 col-form-label">Race</label>
    <div class="col-10">
      <input name="race" class="form-control" type="text" [(ngModel)]="character.personal.race">
    </div>
  </div>
  <div class="form-group row">
    <label for="character-alignment" class="col-2 col-form-label">Alignment</label>
    <div class="col-10">
      <input name="alignment" class="form-control" type="text" [(ngModel)]="character.personal.alignment">
    </div>
  </div>
  <div class="form-group row">
    <label for="character-alignment" class="col-2 col-form-label">Gender</label>
    <div class="col-4">
      <input name="gender" class="form-control" type="text" [(ngModel)]="character.personal.gender">
    </div>
    <label for="character-alignment" class="col-2 col-form-label">Eye</label>
    <div class="col-4">
      <input name="eye" class="form-control" type="text" [(ngModel)]="character.personal.eye">
    </div>
  </div>
  <div class="form-group row">
    <label for="character-alignment" class="col-2 col-form-label">Height</label>
    <div class="col-4">
      <input name="height" class="form-control" type="text" [(ngModel)]="character.personal.height">
    </div>
    <label for="character-alignment" class="col-2 col-form-label">Weight</label>
    <div class="col-4">
      <input name="weight" class="form-control" type="text" [(ngModel)]="character.personal.weight">
    </div>
  </div>
  <div class="form-group row">
    <label for="character-alignment" class="col-2 col-form-label">Skin</label>
    <div class="col-4">
      <input name="skin" class="form-control" type="text" [(ngModel)]="character.personal.Skin">
    </div>
    <label for="character-alignment" class="col-2 col-form-label">Age</label>
    <div class="col-4">
      <input name="age" class="form-control" type="text" [(ngModel)]="character.personal.age">
    </div>
  </div>
  <div class="form-group row">
    <label for="character-alignment" class="col-2 col-form-label">Handed</label>
    <div class="col-4">
      <input name="handed" class="form-control" type="text" [(ngModel)]="character.personal.handed">
    </div>
    <label for="character-alignment" class="col-2 col-form-label">Diety</label>
    <div class="col-4">
      <input name="diety" class="form-control" type="text" [(ngModel)]="character.personal.diety">
    </div>
  </div>
  <div class="form-group row">
    <label for="character-alignment" class="col-2 col-form-label">Handed</label>
    <div class="col-10">
      <input name="homeland" class="form-control" type="text" [(ngModel)]="character.personal.homeland">
    </div>
  </div>
  <div class="form-group row">
    <label for="character-alignment" class="col-2 col-form-label">Background</label>
    <div class="col-10">
      <input name="background" class="form-control" type="text" [(ngModel)]="character.personal.background">
    </div>
  </div>
</div>

<div class="area col-sm-4 col-4">
  <h5>Sketch</h5>
  <img class="centered-pic pic-border" src="/assets/images/classes/dwarf_fighter.jpg" />
</div>

<div class="spacer formarea">
  <h5>Classes</h5>

</div>

<div class="spacer formarea">
  <h5>Feats</h5>

</div>

<div class="spacer formarea">
  <h5>Skills</h5>

</div>

<div class="spacer formarea">
  <h5>Conditions</h5>

</div>

<div class="spacer formarea">
  <h5>Special Abilities</h5>

</div>

<div class="spacer formarea">
  <h5>Equipment</h5>

</div>